*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
     background-color:rgb(31, 40, 47);
}

.main-header{
    display:flex;
    justify-content: space-between;
    color:white;
}

.main-list{
    display:flex;
    justify-content: space-between;
    list-style: none;
}

.list-item{
    font-size: 20px;
    font-weight: bold;
}

.list-item:hover{
    color:rgb(0, 189, 149);
    cursor:pointer;
}


/* 
Verde:
rgb(0, 189, 149)

Claro
rgb(31, 40, 47)

Escuro
rgb(23, 28, 34)




https://portfolio-gsj.vercel.app/index.html#habilidades


https://ramonmaximiliano.github.io/Portfolio/


*/
