* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 40, 47);
}

/* HEADER START*/
.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1000px;
    min-height: 150px;
    margin: auto;
    flex-wrap: wrap;
}

.main-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list-item {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s all;
}

.list-item:hover {
    color: rgb(0, 189, 149);
    cursor: pointer;
}

.language-changer {
    display: flex;
}

#Ingles {
    width: 80px;
    height: 30px;
    background-color: transparent;
    border: rgb(6, 134, 107) solid 1px;
    color: white;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: 0.1s border;
}

#Portugues {
    width: 80px;
    height: 30px;
    background-color: transparent;
    border: rgb(6, 134, 107) solid 1px;
    color: white;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    transition: 0.1s border;
}

#Portugues:hover {
    border: rgb(0, 189, 149) solid 3px;
}

#Ingles:hover {
    border: rgb(0, 189, 149) solid 3px;
}

.language-changer-button {
    background-color: rgb(6, 134, 107) !important;
}

/* HEADER END*/

/* PROFILE START*/
.name {
    color: rgb(0, 189, 149);
}

.profile-main {
    background-color: rgb(23, 28, 34);
}

.profile {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    min-height: 200px;
    flex-wrap: wrap;
    line-height: 25px;
}

.profession {
    margin-bottom: 10px;
    margin-top: 10px;
}

#profile_picture {
    border-radius: 50%;
    max-width: 250px;
}

/* PROFILE END*/

/* MEDIA ICONS START */
.mediaIconsHeader {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    min-height: 90px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.mediaIconGitHub {
    background: url("images/media-icons/github.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: rgb(44, 56, 65);
    border-radius: 50%;
    border-style: none;
    transition: .8s background;
}

.mediaIconLinkedin {
    background: url("images/media-icons/linkedin.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: rgb(44, 56, 65);
    border-radius: 50%;
    border-style: none;
    transition: .8s background;
}

.mediaIconWhatsapp {
    background: url("images/media-icons/whatsapp.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: rgb(44, 56, 65);
    border-radius: 50%;
    transition: .8s background;
}

.mediaIconGitHub:hover {
    background: url("images/media-icons/github-reverse.png");
    background-size: cover;
    background-color: rgb(0, 189, 149);
}

.mediaIconLinkedin:hover {
    background: url("images/media-icons/linkedin-reverse.png");
    background-size: cover;
    background-color: rgb(0, 189, 149);
}

.mediaIconWhatsapp:hover {
    background: url("images/media-icons/whatsapp-reverse.png");
    background-size: cover;
    background-color: rgb(0, 189, 149);
}

/* MEDIA ICONS END */

/*FOOTER START*/
.mediaIconsFooter {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    min-height: 90px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.footer-title {
    color: white;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.footer-title p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*FOOTER END*/


/*EDUCATION START*/

#Education{
    color:white;
    max-width: 1000px;
    margin: auto;
    padding-left:5px;
    padding-top:20px;
    padding-bottom:10px;
}

.education {
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    min-height: 200px;
    flex-wrap: wrap;
    line-height: 25px;
    align-items: center;
    text-align: center;
}


.education-div {
    background-color: rgb(23, 28, 34);
    margin-top:250px;
}


.education-icons {
    max-width: 100px;
}

.education-card {
    width: 300px;
    height: 320px;
    background-color: rgb(31, 40, 47);
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    transition: all 0.2s;

}

.education-card h3 {
    color: rgb(0, 189, 149);
}

.card-anchor {
    text-decoration: none;
    color: white;
}
.education-card:hover {
    scale: 1.02;
    box-shadow: 1px 1px 20px 1px black;
}


/*EDUCATION END*/

/*LANGUAGES START*/

#Languages{
    color:white;
    max-width: 1000px;
    margin: auto;
    padding-left:5px;
    padding-top:20px;
    padding-bottom:10px;
}

.languages {
    align-items: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    min-height: 200px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.languages img {
    width: 80px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: filter 0.2s;
}

.languages img:hover {
    filter: grayscale(0%);
}

.language-level {
    font-size: 18px;
    opacity: 0;
    transition: all 0.5s;
    color: rgb(0, 189, 149);
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*LANGUAGES END*/




/*TECHS START*/

#Technical{
    color:white;
    max-width: 1000px;
    margin: auto;
    padding-left:5px;
    padding-top:20px;
    padding-bottom:10px;
}

.techs {
    background-color: rgb(23, 28, 34);
}

.tech-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
    max-width: 1000px;
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.tech-wrap img {
    width: 80px;
    margin: 10px;
}


.tech-item {
    width: 150px;
    margin: 20px;
    padding:10px;
    border-radius: 10px;
    filter:grayscale(100%); 
    cursor:pointer;
    box-shadow: 2px 2px 20px 5px black;
    box-sizing: border-box;
    transition: all 0.2s;
    border : 1px solid transparent;

}

.tech-item:hover {
    border: solid 1px rgb(0, 189, 149);
    filter:grayscale(0%); 
    background-color: rgb(31, 40, 47);
    box-shadow:none;
    box-sizing: border-box;
}

/*TECHS END*/



/*PROJECTS START*/
#Projects{
    color:white;
    max-width: 1000px;
    margin: auto;
    padding-left:5px;
    padding-top:20px;
    padding-bottom:10px;
}
/*PROJECTS END*/




/*EXPERIENCE START*/
#Experience{
    color:white;
    max-width: 1000px;
    margin: auto;
    padding-left:5px;
    padding-top:20px;
    padding-bottom:10px;
}

.experiencediv{
    align-items: center;
    color: white;
    justify-content: space-between;
    max-width: 1000px;
    word-wrap: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.experience-item{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    text-align: right;
    padding-top:10px;
    padding-bottom:10px;
}

.job{
    margin-top: 5px;
    padding-bottom: 30px;
    border-bottom:1px solid white;
}
/*EXPERIENCE END*/


/*PROJECTS START*/

.carrousel-card1{
    background-color:green;
    min-width: calc(100%/3);
    height:200px;
    margin-right:30px;
}
.carrousel-card2{
    background-color:blue;
    min-width: calc(100%/3);
    height:200px;
    margin-right:30px;
}
.carrousel-card3{
    background-color:yellow;
    min-width: calc(100%/3);
    height:200px;
    margin-right:30px;

}
.carrousel-card4{
    background-color:red;
    min-width: calc(100%/3);
    height:200px;
    margin-right:30px;

}
.carrousel-card5{
    background-color:purple;
    min-width: calc(100%/3);
    height:200px;
    margin-right:30px;

}
.carrousel-card6{
    background-color:black;
    min-width: calc(100%/3);
    height:200px;
    margin-right:30px;
}

.cardItem:first-child{
    margin-left:-2%;
}

.carrousel{
    max-width:1200px;
    display:flex;
    overflow:hidden;
    margin-right:10px;
    margin-left:10px;
}

.wrapper{
  max-width:1200px;
  margin:auto;
}

/*PROJECTS END*/

/*PROJECTS ARROWS START*/

.arrows{
    align-items: center;
    display: flex;
    justify-content:space-between;
    max-width: 1000px;
    margin: auto;
    min-height: 50px;
    margin-top:-150px;
    padding-right:5%;
    padding-left:5%;
}

.arrows img{ 
    width:30px;
    background-color: rgba(255, 255, 255, 0.459);
    width:50px;
    height: 50px;
    padding:8px;
    border-radius: 50%;
    cursor:pointer;
    transition: all 0.2s;
}

.arrows img:hover{ 
    background-color: white;
}

/*PROJECTS ARROWS END*/

