* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 40, 47);
}


/* HEADER*/
.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1000px;
    min-height: 150px;
    margin: auto;
    flex-wrap: wrap;
}

.main-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list-item {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.list-item:hover {
    color: rgb(0, 189, 149);
    cursor: pointer;
}
/* HEADER*/



/* PROFILE*/
.profile-main {
    background-color: rgb(23, 28, 34);
}

.profile {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    min-height: 200px;
    flex-wrap: wrap;
    line-height: 25px;
}

.profession{
    margin-bottom:10px;
    margin-top:10px;
}


#profile_picture{
    border-radius: 50%;
    max-width: 250px;
}

/* PROFILE*/


/* MEDIA ICONS START */

.mediaIconsHeader {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    min-height: 90px;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}


.mediaIconGitHub {
    background: url("images/media-icons/github.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: rgb(44, 56, 65);
    border-radius: 50%;
    border-style: none;
    transition: .8s background;
}

.mediaIconLinkedin {
    background: url("images/media-icons/linkedin.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: rgb(44, 56, 65);
    border-radius: 50%;
    border-style: none;
    transition: .8s background;
}

.mediaIconWhatsapp {
    background: url("images/media-icons/whatsapp.png");
    background-size: cover;
    width: 60px;
    height: 60px;
    background-color: rgb(44, 56, 65);
    border-radius: 50%;
    transition: .8s background;

}

.mediaIconGitHub:hover {
    background: url("images/media-icons/github-reverse.png");
    background-size: cover;
    background-color: black;
}

.mediaIconLinkedin:hover {
    background: url("images/media-icons/linkedin-reverse.png");
    background-size: cover;
    background-color: black;
}

.mediaIconWhatsapp:hover {
    background: url("images/media-icons/whatsapp-reverse.png");
    background-size: cover;
    background-color: black;
}





/* 
Verde:
rgb(0, 189, 149)

Claro
rgb(31, 40, 47)

Escuro
rgb(23, 28, 34)




https://portfolio-gsj.vercel.app/index.html#habilidades


https://ramonmaximiliano.github.io/Portfolio/


*/